[submodule "Wireless Communication/Project/ZigBeetle"]
	path = Wireless Communication/Project/ZigBeetle
	url = https://github.com/sathwikkannam/ZigBeetle.git
[submodule "Machine-Learning-with-Data-Acquisition"]
	path = Machine-Learning-with-Data-Acquisition
	url = https://github.com/sathwikkannam/Machine-Learning-with-Data-Acquisition.git
