[submodule "Wireless Communication/Project/ZigBeetle"]
	path = Wireless Communication/Project/ZigBeetle
	url = https://github.com/sathwikkannam/ZigBeetle.git
[submodule "Development-for-Mobile-Applications"]
	path = Development-for-Mobile-Applications
	url = https://github.com/sathwikkannam/Development-for-Mobile-Applications.git
